<app-filter (applyFilter)="applyFilter($event)"></app-filter>

<!-- <button (click)="generateDoc()">générer document</button> -->

<div class="sub-filter">
    <div class="switch">
        <span>Afficher les communes ? </span>
        <p-inputSwitch [(ngModel)]="showCommon" />
    </div>
    

    <div class="number">
        Combien pour valider la collection : 
        <p-inputNumber 
        [(ngModel)]="limitToGet" /> 
    </div>

    <div class="switch">
        <span>Afficher que ce qu'il manque ? </span>
        <p-inputSwitch [(ngModel)]="showOnlyMissing" />
    </div>
  
</div>


<div class="collection-content">
    <div class="table">
        <table>
            
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Name</th>
                <th [attr.colspan]="showCommon ? 3 : 2"> Quantity </th>
            </tr>
            <tr>
                <td *ngIf="showCommon">Commune</td>
                <td>Rare</td>
                <td>Transfuge</td>
            </tr>
     
            @for (card of cards; track card.NO_CARD) {
                <tr *ngIf="card.CARD[1] || showCommon">
                    <td>{{ card.NO_CARD }} </td>
                    <td>{{ card.CARD[0].NAME.fr }}</td>
                    <td [class]="limitToGet <= card.CARD[0]?.NUMBER ? 'canTrade' : ''" *ngIf="showCommon" (mouseover)="hoveredImage(card.CARD[0])"> {{ card.CARD[0].NUMBER }} </td>
                    <td [class]="limitToGet <= card.CARD[1]?.NUMBER ? 'canTrade' : ''" (mouseover)="hoveredImage(card.CARD[1])"> {{ card.CARD[1]?.NUMBER }} </td>
                    <td class="transfuge"
                        (mouseover)="hoveredImage(card.CARD[2])"
                        [ngClass]="limitToGet <= card.CARD[2]?.NUMBER ? 'canTrade' : ''"
                        [ngStyle]="{ background: 'url(' + (card.CARD[2]?.BG || '') + ')' }"> 
                            {{ card.CARD[2]?.NUMBER }} 
                        <!-- <p-avatar *ngIf="card.CARD[2]"
                            [image]="env.assetsURL + '/factions/' + card.CARD[2]?.FACTION + '.webp'" 
                            styleClass="mr-2" 
                            shape="circle" /> -->
                         </td>
                </tr>
            }
        </table>
    </div>
        
    <div class="image">
        <img [src]="imageHover" alt="">
    </div>
    
</div>


<br>

<app-button (click)="loadMore()"> Charger plus </app-button>

