<app-filter (applyFilter)="applyFilter($event)"></app-filter>
Liste cartes : ({{ cards.length }})<br>

<div class="cards">
    @for (card of cards; track card.UUID) {
        <img [src]="card.IMAGE.fr" alt="">
     } @empty {
         <li>There are no items.</li>
     }
</div>


<div class="footer">

    <!-- <p-button
        class="mt-3 footer__load-more"
        [loading]="buttonLoading"
        label="{{ 'GENERAL.load_more' | translate }}"
        (click)="loadMore()"
    ></p-button> -->

    <div class="footer__pagination">
        {{ filter.pagination.offset + 1 }} - {{ (filter.pagination.offset + filter.pagination.limit) < filter.pagination.max ? (filter.pagination.offset + filter.pagination.limit) : filter.pagination.max }} <span class="pagination__total">{{ 'GENERAL.on' | translate }} {{ filter.pagination.max }}</span>
    </div>
    
</div>