<p-card class="header-card">
	<div class="flex menu">
		<li
			*ngFor="let item of menu; let i = index"
			class="bloc-menu custom-footer-{{ i }}"
			(click)="onCommandClick(item.command)"
			[ngClass]="item.isHovered || item.isActive ? 'custom-menu-' + i : ''"
			(mouseenter)="item.isHovered = true"
			(mouseleave)="item.isHovered = false"
		>
			<i class="{{ item.icon }} mb-2 text-2xl"></i> {{ item.name }}

			<span *ngIf="item.key === 'users'" style="z-index: 888;">
				<button class="user-menu-button" pButton type="button" #profileButton (click)="myMenu.toggle($event)"></button>
				<p-menu class="user-menu-dropdown" #myMenu [model]="items" [popup]="true"></p-menu>
			</span>
		</li>
	</div>

	<app-toggle-darkmode class="theme-switcher"></app-toggle-darkmode>
</p-card>